@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.section-1 {
    background-color: #F6F6F6;
    min-height: 100vh;
}

.heading {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    color: #808080;
}

.tabs-box {
    box-shadow: 0px 11px 44px -10px #00000040;
    background: #FFFFFF;
    max-width: 540px;
    min-height: 420px;
    border-radius: 20px;
    padding: 20px;
}

.text-1 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #808080;
}

.line {
    width: 100%;
    display: flex;
    height: 2px;
    background-color: #E5E5E5;
    margin-bottom: 23px;
}

.tab-text {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.tab-1,
.tab-2,
.tab-3 {
    display: none;
}

.active {
    color: #000000;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0%;
    bottom: -10px;
    background-color: #128DFF;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}